*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Cabin', sans-serif;
}

header{
  background-color: #255ee9;
}

.flex{
  display: flex;
}

nav{
  width: 80%;
  justify-content: center;
  margin: auto;
}

.logo,
.login{
  padding: 1rem;
  width: 20%;
}

button{
  padding: 1rem 2rem;
  border-radius: 90px;
  border: white;
}

.login{
  text-align: end;
}

.navbar{
  padding: .5rem;
  text-align: center;
  width: 60%;
}

nav ul{
  padding: 1rem;
  list-style: none;
}

nav li{
  display: inline;
  padding: 1rem;
  font-size: 1.25rem;
  color: white;
}

.jumbo-container{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  width: 100%;
  padding: 10rem;
}

.jumbo{
  text-align: center;
  color: white;
  width: 60%;
  margin: auto;
}

.jumbo h1{
  font-size: 3rem;
  padding: 1rem;
}

.jumbo p{
  font-size: 1.5rem;
  padding: 1rem;
}

.jumbo button{
  font-size: 1.25rem;
  margin: 1rem;
}

.button-black{
  color: white;
  background-color: black;
  border: black;
}

.two-elements{
  width: 80%;
  margin: auto;
  padding: 4rem;
}

.text-article{
  padding: 1rem;
  width: 40%;
}

.image-article{
  width: 60%;
}

div.image-article img{
  width: 100%;
  padding: 1rem;
}

.article-reverse{
  margin: auto;
  flex-direction: row-reverse;
}

.article-reverse > article{
  flex-direction: row-reverse;
}

div > h1{
  font-size: 4rem;
  padding: 1rem;
}

div > p{
  padding: 1rem;
  font-size: 1.5rem;
}

.last-article{
  padding: 2rem;
  text-align: center;
}

.big-article{
  text-align: center;
  width: 80%;
  margin: auto;
}
 
.text-star{
  background-image: url(../img/stars.svg);
  margin: auto;
  width: 40%;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.button-lightblue{
  font-size: 1.5rem;
  margin: 2rem;
  background-color: #8ea1e1;
  border: #8ea1e1;
  color: white;
}

footer{
  background-color: #23272a;
}

.more-links{
  height: 600px;
  width: 80%;
  margin: auto;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.left-footer{
  color: white;
  height: 90%;
  width: 30%;
}

.left-footer h2{
  font-size: 3rem;
  color: #8ea1e1;
}

.left-footer span{
  padding: 1.5rem 0;
}

.left-footer > i{
  padding-right: 2rem;
}

.left-footer img{
  height: 20px;
}

.left-footer span{
  display: block;
  vertical-align: middle;
}

.left-footer > i{
  font-size: 1.5rem;
}

.right-footer h3{
  color: #8ea1e1;
  font-size: 1.5rem;
}

.right-footer{
  height: 90%;
  width: 70%;
  color: white;
}

.right-footer ul > *{
  padding: 0.5rem 0;
}

.right-footer ul{
  list-style: none;
}

.right-footer li{
  font-size: 1.5rem;
}

.last-link{
  width: 25%;
}

.button{
  border-top: 1px solid #8ea1e1;
  width: 80%;
  height: 60px;
  margin: auto;
  padding: 2rem 0 8rem 0;
  justify-content: space-between;
}

.button.flex > div > .button-lightblue{
  margin: auto;
  font-size: 1rem;
}